main .panel-san-pham {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .panel-them-san-pham {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main input {
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 10px;
}

main select {
    height: 38px;
    border: 1px solid #cccccc;
    padding-left: 10px;
    border-radius: 5px;
}

main .choose-file {
    border: none;
}

main textarea {
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

main form button {
    width: 60px;
    height: 30px;
    border: none;
    background-color: hsl(211, 61%, 43%);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

main .panel-danh-sach-san-pham {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main table {
    width: 100%;
    border: 1px solid #cccccc;
}

main thead {
    text-align: left;
    background-color: #f1f5f9;
}

main th {
    padding: 10px;
}

main td {
    padding: 10px;
    background-color: white;
}

main .sua-button{
    border: none;
    background-color: hsl(211, 61%, 43%);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
}

main .xoa-button{
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
}

main button{
    cursor: pointer;
}