main .panel-tong-quan {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .sub-panel-tong-quan {
    display: flex;
    gap: 10px;
}

main .tong-quan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 50px;
    padding: 15px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 10px;
}