main .panel-khuyen-mai {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .panel-them-khuyen-mai {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .khuyen-mai-san-pham {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .khuyen-mai-danh-muc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .label-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .khuyen-mai-san-pham input {
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 10px;
}

main .khuyen-mai-danh-muc input, select {
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 10px;
}

main .two-col {
    display: flex;
    gap: 10px;
}

main .two-col input {
    width: 100%;
    padding-right: 10px;
}

main button {
    cursor: pointer;
}

main form button {
    height: 30px;
    border: none;
    background-color: hsl(211, 61%, 43%);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

main .search-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}

main .search-bar input {
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 10px;
}

main .search-bar label {
    width: 100%;
}

main .search-bar button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: hsl(211, 61%, 43%);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

main .button-luu-khuyen-mai {
    width: 150px;
}

main .panel-danh-sach-khuyen-mai {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main table {
    width: 100%;
    border: 1px solid #cccccc;
}

main thead {
    text-align: left;
    background-color: #f1f5f9;
}

main th {
    padding: 10px;
}

main td {
    padding: 10px;
    background-color: white;
}

main .sua-button {
    border: none;
    background-color: hsl(211, 61%, 43%);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
}

main .xoa-button {
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
}