html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

input {
    padding-top: 0;
    padding-bottom: 0;
}

header {
    display: flex;
    border-bottom: 1px solid #cccccc;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

header .text-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .text-button button {
    border: 1px solid #cccccc;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    display: flex;
    height: 100%;
}

main nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cccccc;
    height: 100%;
    font-weight: bold;
}

main nav a {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

main nav a:hover {
    background-color: hsl(212, 100%, 97%);
    color: hsl(211, 61%, 43%);
}

main .container {
    padding-top: 40px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: hsl(228, 38%, 97%);
    width: 100%;
}