body {
    font-family: 'Inter', sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.faq-section .faq-title {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
.faq-section .faq-title h1 {
    display: block;
    text-align: left;
    margin: 15px auto;
    color: #000 ;
    margin: 10px;

}

.faq-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.faq-item{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.faq-question {
    padding: 20px;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 18px;
}

.faq-question::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 22px;
    transition: transform 0.3s ease;
}
.faq-item.active .faq-question::after {
    transform: rotate(45deg);
}

.faq-answer {
    padding: 0 20px 20px 20px;
    display: none;
    color: #555;
    line-height: 1.6;
    font-size: 16px;
}

.faq-item.active .faq-answer {
    display: block;
}
.warning {
    color: #b71c1c;
    font-weight: bold;
    background: #ffebee;
    padding: 10px;
    border-left: 4px solid #f44336;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
}