main .section-product-detail {
    margin-top: 50px;
}

main img {
    width: 420px;
    height: 420px;
    border-radius: 5px;
}

main .product-wrapper {
    display: flex;
    gap: 30px;
}

main .product-name {
    margin: 0;
}

main .product-price {
    display: flex;
    gap: 5px
}

main .new-price {
    color: red;
    margin-bottom: 0;
}

main .old-price {
    font-weight: normal;
    text-decoration: line-through;
    margin-bottom: 0;
}

main .quantity-selector {
    display: flex;
    align-items: center;
    gap: 5px;
}

main .quantity-input {
    width: 75px;
    text-align: center;
    height: 33px;
    padding: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: none;
    border-right: none;
    font-size: 15px;
}

main .quantity-controls {
    display: flex;
}

main .quantity-controls button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: #cccccc;
    cursor: pointer;
    font-size: 20px;
}

main .add-to-cart-button {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: hsl(85, 44%, 40%);
    opacity: 75%;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

main .add-to-cart-button:hover {
    opacity: 1;
}

main p:last-child {
    margin-bottom: 0;
}

main .product-description .title {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 5px;
}

main .description-image-panel {
    display: flex;
    justify-content: center;
}

main .description-image {
    width: 600px;
    height: 350px;
}