main {
    background-color: hsl(206, 19%, 93%);
}

main .container {
    width: 770px;
}

main .title-panel {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 15px;
}

main .thong-tin-product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .thong-tin-panel {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 17px 0 17px;
    border-radius: 10px;
}

main .thong-tin {
    display: flex;
    justify-content: space-between;
}

main .thong-tin-title {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 0;
    padding-bottom: 5px;
}

main .product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 17px;
    border-radius: 10px;
}

main .product {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

main .product:last-child{
    border: none;
    padding-bottom: 0;
}

main .product-image-name{
    display: flex;
    gap: 10px;
}

main .product-image{
    width: 125px;
    height: 125px;
}

main .product-name, .product-price, .product-quantity{
    margin-top: 0;
}

main a{
    text-decoration: none;
    color: black;
}

main .product-price-quantity{
    display: flex;
    flex-direction: column;
}

main .product-quantity{
    text-align: right;
    color: rgb(157 167 188);
}

main .button-panel{
    display: flex;
    background-color: white;
    padding: 17px;
    position: sticky;
}

main .mua-lai-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(85, 44%, 40%);
    opacity: 0.75;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

main .mua-lai-button:hover {
    opacity: 1;
}