main .news-detail {
    max-width: 100%;
    margin: auto;
    max-height: 100%;
    background: #fff;
    border-radius: 12px;
    
}
main .news-detail h1 {
    font-size: 32px;
    color: #222;
    margin-bottom: 10px;
}
main .news-meta {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}
main .container img {
    display: block;
    margin: 0 auto 25px;
    width: 80%;
    border-radius: 10px;
}
main .news-content p {
    line-height: 1.7;
    margin-bottom: 16px;
}
main .news-content h2 {
    margin-top: 30px;
    color: #111;
}
main .news-tags {
    margin-top: 40px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}
main .news-tags span {
    background: #f3f4f6;
    color: #555;
    padding: 6px 10px;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 14px;
}
main .news-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
main .news-navigation a {
    color: #e67e22;
    text-decoration: none;
    font-weight: 500;
}