main {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
    padding-top: 120px;

}

main #login {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

main .form-group {
    width: 90%;
    max-width: 400px;
    margin-bottom: 15px;
}

main .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

main .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

main .remember-register {
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

main .remember-register a {
    color: dodgerblue;
    text-decoration: none;
}

main #login-btn {
    width: 90%;
    max-width: 400px;
    padding: 12px;
    background-color: deepskyblue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
main #login-btn:hover {
    background-color: dodgerblue;
}

main .forget {
    margin-top: 10px;
    width: 90%;
    max-width: 400px;
    text-align: left;
}

main .forget a {
    color: dodgerblue;
    text-decoration: none;
    font-size: 14px;
}

