body{
    font-family: Arial, sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
main{
    padding: 40px;
    width: 500px;
}
main #sign_up{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}
main nav{
    text-align: left;
    padding: 2px;
}
main nav label{
    display: block;
    font-weight: bold;
    margin-bottom: 12px;
}
main nav input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
main button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: deepskyblue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}