main {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 125px;
    margin: 0;
}
main div{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

main nav{
    text-align: left;
    padding: 20px;
    width: 90%;
    max-width: 400px;
}
main nav label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}
main nav input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
main nav button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: deepskyblue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
}
main nav button:hover {
    background-color: dodgerblue;
}