main .categoryItem {
    display: flex;
    justify-content: space-between;
}

main .categoryItem .categoryList {
    display: flex;
    flex-direction: column;
    background-color: hsl(86, 41%, 63%);
    border-radius: 5px;
    width: 225px;
}

main .categoryItem .categoryList button {
    border: none;
    background: none;
    border-bottom: 1px solid hsl(0, 0%, 83%);
    font-size: 20px;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    opacity: 0.5;
    cursor: pointer;
}

main .categoryItem .categoryList button:last-child {
    border: none;
}

main .categoryItem .navItemList {
    display: flex;
    flex-direction: column;
    width: 955px;
}

main .itemImage {
    width: 200px;
    height: 200px;
}

main a {
    text-decoration: none;
}

main .itemList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 25px;
}

main .item {
    border: 1px solid hsl(0, 0%, 83%);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    box-sizing: border-box;
}

main .itemName {
    color: black;
}

main h4 {
    color: red;
}

main .buy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(85, 44%, 40%);
    color: white;
    width: 100%;
    height: 30px;
    font-weight: bold;
    opacity: 75%;
    border-radius: 5px;
}

main .buy:hover {
    opacity: 1;
}

main nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main .categoryItem .navItemList nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main .categoryItem .navItemList nav button {
    border: 2px solid hsl(0, 0%, 83%);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}