main .category-product {
    display: flex;
    justify-content: space-between;
}

main .category-list {
    display: flex;
    flex-direction: column;
    background-color: hsl(86, 41%, 63%);
    border-radius: 5px;
    width: 225px;
}

main .category-button {
    border: none;
    background: none;
    border-bottom: 1px solid hsl(0, 0%, 83%);
    font-size: 20px;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    opacity: 0.4;
    cursor: pointer;
}

main .category-button:last-child {
    border: none;
}

main .nav-product-list {
    display: flex;
    flex-direction: column;
    width: 955px;
}

main .product-image {
    width: 200px;
    height: 200px;
}

main a {
    text-decoration: none;
}

main .product-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 25px;
}

main .product {
    border: 1px solid #cccccc;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    box-sizing: border-box;
}

main .sale-percent {
    margin: 0;
    color: white;
    font-weight: bold;
}

main .sale-tag {
    background-color: red;
    width: 50px;
    border-top-right-radius: 10px;
    position: absolute;
    margin-top: -11px;
    margin-left: 159px;
}

main .product-name {
    color: black;
}

main .product-name h3 {
    margin-bottom: 0;
}

main .product-price {
    display: flex;
    justify-content: center;
    gap: 5px
}

main .new-price {
    color: red;
}

main .old-price {
    font-weight: normal;
    text-decoration: line-through;
}

main .buy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(85, 44%, 40%);
    color: white;
    width: 100%;
    height: 30px;
    font-weight: bold;
    opacity: 75%;
    border-radius: 5px;
}

main .buy:hover {
    opacity: 1;
}

main nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main nav button {
    border: 2px solid hsl(0, 0%, 83%);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

main .category-button.active {
    opacity: 1;
}