main .product-image {
    width: 200px;
    height: 200px;
}

main a {
    text-decoration: none;
}

main .nav-product-list {
    display: flex;
    flex-direction: column;
}

main .product-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 25px;
}

main .product {
    border: 1px solid hsl(0, 0%, 83%);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    box-sizing: border-box;
}

main .product-name {
    color: black;
}

main .price {
    color: red;
}

main .buy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(85, 44%, 40%);
    color: white;
    width: 100%;
    height: 30px;
    font-weight: bold;
    opacity: 75%;
    border-radius: 5px;
}

main .buy:hover {
    opacity: 1;
}

main nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main button {
    border: 2px solid hsl(0, 0%, 83%);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}