main {
    background-color: hsl(206, 19%, 93%);
}

main .title-panel {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 15px;
}

main .don-hang-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .don-hang {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 17px 17px 17px;
    border-radius: 10px;
}

main .thong-tin-don-hang{
    display: flex;
    flex-direction: column;
}

main .ma-don-hang-xem-chi-tiet{
    display: flex;
    justify-content: space-between;
}

main .ngay-dat-trang-thai{
    display: flex;
    justify-content: space-between;
}

main a {
    text-decoration: none;
    color: black;
}

main .trang-thai {
    color: green;
    font-weight: bold;
}

main img {
    width: 150px;
    height: 150px;
}

main .anh-san-pham {
    display: flex;
    gap: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}

main .tong-tien-panel{
    display: flex;
    justify-content: right;
}

main .button-panel {
    display: flex;
    justify-content: right;
}

main .mua-lai-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(85, 44%, 40%);
    opacity: 0.75;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
}

main .mua-lai-button:hover {
    opacity: 1;
}