main {
    background-color: hsl(206, 19%, 93%);
}

main .container {
    width: 770px;
}

main .title-panel {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 15px;
}

main .order-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .order {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 17px 17px 17px;
    border-radius: 10px;
}

main .order-info {
    display: flex;
    flex-direction: column;
}

main .order-header {
    display: flex;
    justify-content: space-between;
}

main .order-meta {
    display: flex;
    justify-content: space-between;
}

main a {
    text-decoration: none;
    color: black;
}

main .trang-thai {
    color: green;
    font-weight: bold;
}

main img {
    width: 125px;
    height: 125px;
}

main .order-images {
    display: flex;
    gap: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}

main .order-total {
    display: flex;
    justify-content: right;
}

main .button-panel {
    display: flex;
    justify-content: right;
}

main .reorder-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(85, 44%, 40%);
    opacity: 0.75;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

main .reorder-button:hover {
    opacity: 1;
}