
body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    background: #f4f6f5;
    margin: 0;
    display: flex;
    flex-direction:  column;
    min-height: 100vh;
}
.account-page{
    margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.account-page .account-container {
   display: flex;
    gap: 30px;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 40px;
    box-sizing: border-box;
    
    
}

/* Cột trái */
.left-panel {
    flex: 2;
    padding: 30px;
    
}
.left-panel h2 {
    font-size: 20px;
    margin-bottom: 25px;
    color: #1e5631;
    border-bottom: 2px solid #B8E0B1;
    padding-bottom: 8px;
}


.upload-btn {
    display: block;
    margin: 10px auto 0;
    margin-top: 8px;
    font-size: 15px;
    color: #1e5631;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s;
}
.upload-btn:hover {
    color: #164927;
}

form label {
    display: block;
    margin: 8px 0 4px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.2s ease;
    margin-bottom: 8px;
}
input:focus,
select:focus {
    border-color: #1e5631;
    box-shadow: 0 0 0 2px rgba(30,86,49,0.1);
}

/* Giới tính */
.gender{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 6px;
    margin-bottom: 6px;

}
.gender label {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #444;
    font-size: 15px;
    font-weight: normal;

}
.gender label input{
    margin-right: 4px;
}
/* Ngày sinh */
.dob select {
    width: 32%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    margin-right: 3px;
}

/* Checkbox */
.checkbox {
    font-size: 15px;
    margin-top: 10px;
    color: #333;
}

/* Nút cập nhật */
.btn-update {
    background: #1e5631;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 10px 250px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    display: block;
    margin: 15px auto;
}
.btn-update:hover {
    background: #164927;
}

