main{
    flex: 1;
    margin-top: 40px;
    padding: 40px 0 0;
    background-color: #f5f5f5;
}
.section-tin-tuc{
    
    padding: 50px 0;
    font-family: 'Inter', Arial , sans-serif;
} 
.news-container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.blog-title{
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    color: #222;
    margin-bottom: 30px;
    position: relative;
}
.blog-title::after{
    content: "";
    position: absolute;
    left: 0%;
    bottom: -10px;
    width: 310px;
    height: 3px;
    border-radius: 999px;
    background-color: #e67e22;
}
.blog-slider{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:  center;
    gap: 24px;
    margin-top: 32px;
}
.blog-list{
    display:  flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.blog-item {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: tranform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    display: none;
    align-items: center;
    min-height: 320px;
    width: 100%;
}
.blog-item.active{
    display: flex;
    flex-direction: row;
}
.blog-item img{
    width: 45%;
    height: 340px;
    object-fit: cover;
}


 .blog-content{
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
 }

 .blog-content h3{
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin-bottom: 10px;
    line-height: 1.3;
 }

.blog-content p{
    flex-grow: 1;
    color: #555;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 18px
}
.blog-content a {
    align-self: flex-start;
    color: #fff;
    background-color: #e67e22;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s;
}

.blog-content a:hover {
    background-color: #cf711f;
    transform: translateY(-1px) scale(1.03);
}
.blog-nav{
    border: none;
    background-color: #e67e22;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.blog-nav:hover{
    background-color: #cf711f;
    transform: scale(1.05);
}
.blog-dots {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.blog-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.blog-dot.active {
    background-color: #e67e22;
    transform: scale(1.2);
}