main a {
    text-decoration: none;
}

main .section-banner img {
    width: 100%;
    height: 450px;
}

main .section-product {
    display: flex;
    margin-top: 50px;
}

main .section-product .container {
    background-color: hsl(86, 41%, 63%);
    border-radius: 10px;
}

main .section-product .product-image {
    width: 200px;
    height: 200px;
}

main .section-product .title {
    text-align: center;
    color: white;
}

main .section-product .product-list {
    display: flex;
    gap: 15px;
    overflow: hidden;
    padding: 10px;
    scroll-behavior: smooth;
    width: 1150px;
    margin: 0 auto;
}

main .section-product .product {
    flex: 0 0 220px;
}

main .section-product .carousel-dots {
    text-align: center;
    margin-top: 10px;
}

main .section-product .carousel-dots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

main .section-product .carousel-dots span:hover {
    background-color: slategray;
}

main .section-product .product {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    box-sizing: border-box;
}

main .section-product .product-name{
    color: black;
}

main .section-product .price {
    color: red;
}

main .section-product .buy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(85, 44%, 40%);
    color: white;
    width: 100%;
    height: 30px;
    font-weight: bold;
    opacity: 75%;
    border-radius: 5px;
}

main .section-product .buy:hover {
    opacity: 1;
}

main .section-product .show-all {
    text-align: center;
    color: white;
}

main .section-product .label-image {
    position: absolute;
    margin-left: -50px;
    padding-top: 25px;
    width: 80px;
    height: 80px;
}

main .section-news img {
    width: 100%;
    height: 200px;
}

main .section-news .news-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

main .section-news .news {
    display: flex;
    flex-direction: column;
    height: 425px;
    width: 290px;
}

main .section-news .news-title {
    color: black;
}

main .section-news .show-all {
    color: black;
    display: flex;
    justify-content: right;
}

main .section-news .show-all h4 {
    margin: 0;
}

main .section-news .news-text {
    height: 100%;
    border: 1px solid #cccccc;
    padding: 10px;
}