html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header .section {
    display: flex;
    align-items: center;
}

header .container {
    display: flex;
    align-items: center;
    width: 100%;
}

header a {
    text-decoration: none;
}

header .section1 {
    background-color: hsl(85, 41%, 56%);
    height: 75px;
}

header .section1 .container {
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
}

header .section1 .container img {
    display: block;
}

header .section1 .container a {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

header .section1 .container form {
    display: flex;
    align-items: center;
}

header .section1 .container form input {
    box-sizing: border-box;
    width: 600px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 40px;
}

header .section1 .container form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    margin-left: 565px;
}

header .section1 .container .aGroup {
    display: flex;
    gap: 15px;
}

header .section1 .container .aGroup a {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 5px;
}

header .section2 {
    background-color: hsl(85, 44%, 40%);
}

header .section2 nav {
    width: 100%;
}

header .section2 nav .container {
    justify-content: center;
}

header .section2 nav .container .item {
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
    height: 100%;
    padding: 15px 30px;
}

header .section2 nav .container .item .sub {
    display: none;
    position: absolute;
    top: 123px;
    margin-left: -30px;
    border: 1px solid hsl(0, 0%, 87%);
    width: 230px;
    background-color: white;
}

header .section2 nav .container .item:hover {
    background-color: white;
    color: black;
}

header .section2 nav .container .item:hover .sub {
    display: block;
}

header .section2 nav .container .item .sub .subItem {
    padding: 15px 30px;
    display: block;
    color: black;
}

header .section2 nav .container .item .sub .subItem:hover {
    background-color: lightgray;
}

footer .section {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 16px;
}

footer .section1 {
    background-color: hsl(85, 41%, 56%);
    height: 200px;
}

footer .section1 .container h3 {
    margin-top: 0;
}

footer .section1 .container ul {
    margin-bottom: 0;
}

footer .section2 {
    background-color: hsl(85, 44%, 40%);
    height: 50px;
}

main {
    flex: 1;
    margin-top: 123.400px;
    margin-bottom: 50px;
}