/* Global / main */
main {
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

main .title {
    font-size: 45px;
    font-weight: 700;

}

main .payonline{
    width: 100%;
    max-width: 760px;
    padding: 0;
}

main .payonline .textqr h1 {
    margin: 0 0 6px;
    font-size: 18px;
    font-weight: 700;
}
main .payonline .textqr h2 {
    margin: 0;
    font-size: 12px;
    color: gray;
    font-weight: 500;
}

main .payonline .qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 15px 0 16px;
}

main .payonline .qr img {
    width: 220px;
    height: 220px;
    display: block;
    padding: 6px;
}

main .payonline .qr .information-qr {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 6px;
    text-align: center;
}
main .payonline .qr .information-qr p {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
}
main .payonline button {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: 25px auto 25px;
    padding: 14px 20px;
    font-size: 18px;
    color: white;
    background: red;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}
main .payonline button:hover {
    background: orangered;
}
