body {
    font-family: 'Inter', sans-serif;
    
}

.policy-section {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.policy-section .policy-title{
     display: block;
    text-align: left;
}
.policy-section .policy-title h1{
     display: block;
    text-align: left;
    margin: 15px auto;
    color: #000 ;
    margin: 10px;
}
.policy-section .section {
    border-bottom: 1px solid #eee;
}

.policy-section .section:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.policy-section h2 {
    color: #1e5631;
    margin-bottom: 10px;
}

.policy-section h3 {
    color: #555;
    margin: 10px 0 5px 0;
}
.policy-section p, 
.policy-section li {
    line-height: 1.6;
    margin-bottom: 8px;
}

.policy-section ul {
    padding-left: 20px;
}