img {
    display: block;
}

main .section1 .container img {
    width: 100%;
    height: 450px;
}

main .sectionItem .container img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

main .sectionItem .container h1 {
    text-align: center;
}

main .sectionItem .container .itemList {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main .sectionItem .container .itemList .item {
    border: 1px solid hsl(0, 0%, 83%);
    padding: 10px;
}

main .sectionItem .container .itemList .item h3 {
    cursor: pointer;
}

main .sectionItem .container .itemList .item h4 {
    color: hsl(353, 100%, 45%);
}

main .sectionItem .container .itemList .item button {
    background-color: hsl(18, 81%, 47%);
    color: white;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 30px;
    font-weight: bold;
}

main .sectionItem .container .xemTatCa {
    text-align: right;
    cursor: pointer;
    padding-right: 200px;
}