img {
    display: block;
}

main .container {
    width: 1200px;
}

main a {
    text-decoration: none;
}

main .section1 img {
    width: 100%;
    height: 450px;
}

main .sectionBase {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

main .sectionItem .container {
    background-color: hsl(86, 41%, 63%);
    border-radius: 10px;
}

main .itemImage {
    width: 200px;
    height: 200px;
}

main .sectionItem .container h1 {
    text-align: center;
    color: white;
}

main .sectionItem .container .itemList {
    display: flex;
    justify-content: center;
    gap: 15px;
}

main .item {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

main .item .itemName {
    color: black;
}

main .item h4 {
    color: red;
}

main .item .buy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(85, 44%, 40%);
    color: white;
    width: 100%;
    height: 30px;
    font-weight: bold;
    opacity: 75%;
    border-radius: 5px;
}

main .item .buy:hover {
    opacity: 1;
}

main .sectionItem .container .showAll {
    text-align: center;
    color: white;
}

main .sectionItem .container .labelImage {
    position: absolute;
    margin-left: -50px;
    padding-top: 25px;
    width: 80px;
    height: 80px;
}

main .section4 .categoryItem {
    display: flex;
    gap: 15px;
}

main .section4 .categoryItem .categoryList {
    display: flex;
    flex-direction: column;
    background-color: hsl(86, 41%, 63%);
    border-radius: 5px;
    width: 100%;
}

main .section4 .categoryItem .categoryList button {
    border: none;
    background: none;
    border-bottom: 1px solid hsl(0, 0%, 83%);
    font-size: 20px;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    opacity: 0.5;
    cursor: pointer;
}

main .section4 .categoryItem .categoryList button:hover {
    opacity: 1;
}

main .section4 .categoryItem .categoryList button:last-child {
    border: none;
}

main .section4 .categoryItem .navItemList {
    display: flex;
    flex-direction: column;
}

main .section4 .categoryItem .navItemList .itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 920px;
}

main .section4 .categoryItem .navItemList .itemList .item {
    border: 1px solid hsl(0, 0%, 83%);
}

main .section4 .categoryItem .navItemList nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main .section4 .categoryItem .navItemList nav button {
    border: 2px solid hsl(0, 0%, 83%);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}